<ul>
    <li><a href="/">Cadastrar </a></li>
    <li><a href="/consultar">Consultar </a></li>
</ul>
<form action="/atualizar/{{agendamento.id}}" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="id" value="{{agendamento.id}}">
                <input id="nome" name="nome" class="input" type="name" value="{{agendamento.nome}}">
                <input id="telefone" name="telefone" class="input" type="text" placeholder="Telefone" value="{{agendamento.telefone}}">
                <select name="origem" class="input">
                    <option value="" disabled>Origem</option>
                    <option value="celular" {{#if condicaoCelular}} selected {{/if}}>Celular</option>
                    <option value="whatsapp" {{#if condicaoWhatsapp}} selected {{/if}}>Whatsapp</option>
                    <option value="Telefone_fixo" {{#if condicaoFixo}} selected {{/if}}>Telefone fixo</option>
                </select>
                <input id="data_contato" name="data_contato" class="input" type="date" placeholder="Data de contato" value="{{agendamento.data_contato}}">
                <input id="observacao" name="observacao" class="input" type="text" placeholder="Observação" value="{{agendamento.observacao}}">
            <button type="submit" class="submit">Atualizar</button>
</form>
